{% extends 'layouts/main.html' %}

{% block title%}Error {{ statuscode }} {% endblock %}

{% block content %}

<div class="d-flex align-items-center min-vh-100" style="background-color: #EDAE49;">
    <div class="container text-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-0"></div>
            <div class="col-xs-6">
                <img src="{{ url_for('static', filename='img/error413.png') }}" class="img-fluid" alt="" style="width: 250px;">
            </div>
            <div class="col-xs-6">
                <h1 class="display-3">Oops!</h1>
                <p class="font-weight-normal">The cute images of your pets are too huge! Please keep it under 15MB <br>Try going back or look around at our <a href="{{ url_for('adopt', page=1) }}">Adoption</a> page</p>  
                <p class="font-weight-lighter font-italic text-muted">(Photo courtesy of <a class="text-muted" href="https://unsplash.com/@alvannee">Alvan Nee</a> on <a class="text-muted" href="https://unsplash.com">Unsplash</a>)</p>
            </div>
            <div class="col-xs-0"></div>
        </div>
    </div>
</div>
{% endblock %}
