{% extends 'layouts/main.html' %}

{% block title%}About{% endblock %}

{% block content %}
<div class="d-flex align-items-center min-vh-100 py-5" style="background-color: #EDAE49;">
    <div class="container text-center">
        <h1 class="display-3">Our Pet Project</h1>
        <p class="font-weight-lighter font-italic">Pun intended</p>
        <p class="lead">It all began with wanting to adopt a cat. What should have been an exciting experience became
            painstakingly difficult when I had to go through several pet adoption groups on Facebook and scroll through
            websites such as SPCA Singapore, Cat Welfare Society, Love Kucing Project and plenty others, just to find
            cats that were available for adoption. Though I did not end up adopting a cat (was hit with the classic
            Asian mum line: "Sure the cat can come home but you have to stay outside"), I wanted to make the experience
            of adopting pets fuss-free for others by creating a central site for them to visit.</p>
        <p class="lead">This is findapet.today, your one stop pet finding site.</p>
        <br>
        <p class="font-weight-lighter">PS. Any feedback or messages are welcome. Click on the contact button on the
            top-right of your screen! &#128516;</p>
    </div>
</div>
{% endblock %}