{% extends 'layouts/main.html' %}

{% block title%}List adoption{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="pt-3">
        <div class="alert alert-warning" role="alert" style="margin-bottom: 0;">
            <ul class="mb-0">
                <li>Please fill up the form to the best of your knowledge</li>
                <li>If you are unable to answer any of the questions, please indicate "-" or "NA"</li>
                <li>Contact name and email is required for communication purposes</li>
            </ul>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" action="" class="pt-3" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="nameOwner">Contact name</label>
            {{ form.nameOwner(class="form-control") }}
            {% if form.nameOwner.errors %}
            {% for error in form.nameOwner.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="namePet">Pet name</label>
            {{ form.namePet(class="form-control") }}
            {% if form.namePet.errors %}
            {% for error in form.namePet.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="typePetSelect">Type of pet</label>
            {{ form.typePet(class="form-control", id="typePetSelect") }}
            {% if form.typePet.errors %}
            {% for error in form.typePet.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="imagesPet">Images</label>
            {{ form.imagesPet(class="form-control-file", multiple="") }}
            {% if form.imagesPet.errors %}
            {% for error in form.imagesPet.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="breed">Breed</label>
            {{ form.breed(class="form-control") }}
            {% if form.breed.errors %}
            {% for error in form.breed.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            {{ form.age(class="form-control") }}
            {% if form.age.errors %}
            {% for error in form.age.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox pb-3 pt-2 custom-control-inline">
            {{ form.hdbApproved(class="custom-control-input", id="hdbApproved") }}
            <label class="custom-control-label" for="hdbApproved">HDB approved</label>
            {% if form.hdbApproved.errors %}
            {% for error in form.hdbApproved.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox pb-3 pt-2 custom-control-inline">
            {{ form.neutered(class="custom-control-input", id="neutered") }}
            <label class="custom-control-label" for="neutered">Neutered</label>
            {% if form.neutered.errors %}
            {% for error in form.neutered.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox pb-3 pt-2 custom-control-inline">
            {{ form.vaccinated(class="custom-control-input", id="vaccinated") }}
            <label class="custom-control-label" for="vaccinated">Vaccinated</label>
            {% if form.vaccinated.errors %}
            {% for error in form.vaccinated.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            {{ form.size(class="form-control") }}
            {% if form.size.errors %}
            {% for error in form.size.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="colour">Colour</label>
            {{ form.colour(class="form-control") }}
            {% if form.colour.errors %}
            {% for error in form.colour.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="sickness">Sickness</label>
            {{ form.sickness(class="form-control") }}
            {% if form.sickness.errors %}
            {% for error in form.sickness.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="about">About</label>
            {{ form.about(class="form-control", placeholder="Include the type of pet here if you specified \"Others\" above") }}
            {% if form.about.errors %}
            {% for error in form.about.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-warning", id="formSubmit", value="Submit") }}
    </form>
</div>
{% endblock %}

{% block footer %}
<footer class="text-muted mt-3">
    <div class="container">
        <p>&copy; Findapet.today, your one stop pet finding site.</p>
    </div>
</footer>
{% endblock %}