{% extends 'layouts/main.html' %}

{% block title%}Adopt{% endblock %}

{% block content %}

{% for pet in data %}

{% endfor %}

<!-- Staggered view -->
<div class="container mt-5 py-5">
    <div class="card-columns">
        {% for pet in data %}
        <div class="card border-warning">
            <img  {% if pet['image'] is not defined %} {% if pet['imagePet'] %} src="{{ url_for('static', filename=pet.imagePet) }}" {% else %} src="https://via.placeholder.com/750" {% endif %} {% else %} src="{{ pet['image'] }}" {% endif %} class="card-img-top" alt="{{ pet['name'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ pet['namePet'] }}</h5>
                <p class="card-text">Gender: {{ pet['gender'] }} <br>Age: {{ pet['age'] }} <br>Breed: {{ pet['breed'] }} {% if pet['typePet'] == "dog" %} {% if pet['isHdbApproved'] == True %} <br>HDB Approved: Yes {% else %} <br>HDB Approved: No {% endif %} {% endif %}
                </p>
                <a target="_blank" href="{% if pet['url'] is not defined %}{{ url_for('adopt_detail', pk=pet['id']) }}{% else %}{{ pet['url'] }}{% endif %}" class="card-link">Learn more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="pagination" class="mx-auto">
    <ul class="pagination justify-content-center">
        {% if current_page == 1 %}
        <!-- Left arrow button -->
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link">{{ current_page }}</a></li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page + 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page + 1 }}" {% else %} href="/adopt/{{ current_page + 1 }}" {% endif %}>{{ current_page + 1 }}</a></li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page + 2 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page + 2 }}" {% else %} href="/adopt/{{ current_page + 2 }}" {% endif %}>{{ current_page + 2 }}</a></li>
        {% elif current_page == total_pages %}
        <!-- Left arrow button  -->
        <li class="page-item">
            <a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page - 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page - 1 }}" {% else %} href="/adopt/{{ current_page - 1 }}" {% endif %}>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page - 2 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page - 2 }}" {% else %} href="/adopt/{{ current_page - 2 }}" {% endif %}>{{ current_page - 2 }}</a></li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page - 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page - 1 }}" {% else %} href="/adopt/{{ current_page - 1 }}" {% endif %}>{{ current_page - 1 }}</a></li>
        <li class="page-item active"><a class="page-link">{{ current_page }}</a></li>
        {% else %}
        <!-- Left arrow button -->
        <li class="page-item">
            <a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page - 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page - 1 }}" {% else %} href="/adopt/{{ current_page - 1 }}" {% endif %}>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page - 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page - 1 }}" {% else %} href="/adopt/{{ current_page - 1 }}" {% endif %}>{{ current_page - 1 }}</a></li>
        <li class="page-item active"><a class="page-link">{{ current_page }}</a></li>
        <li class="page-item"><a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page + 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page + 1 }}" {% else %} href="/adopt/{{ current_page + 1 }}" {% endif %}>{{ current_page + 1 }}</a></li>
        {% endif %}
        <!-- Right arrow button -->
        {% if current_page == total_pages %}
        <li class="page-item disabled">
            <a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page + 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page + 1 }}" {% else %} href="/adopt/{{ current_page + 1 }}" {% endif %} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" {% if request.path == url_for('adopt_cats', page=current_page) %} href="/adopt/cats/{{ current_page + 1 }}" {% elif request.path == url_for('adopt_dogs', page=current_page) %} href="/adopt/dogs/{{ current_page + 1 }}" {% else %} href="/adopt/{{ current_page + 1 }}" {% endif %} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block footer %}
<footer class="text-muted mt-3">
    <div class="container">
        <p>&copy; Findapet.today, your one stop pet finding site.</p>
    </div>
</footer>
{% endblock %}