{% extends 'layouts/main.html' %}

{% block title%}Adopt | {{ data['namePet'] }}{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<div class="container mt-5 py-3">
    <div class="d-flex justify-content-center mt-5">
        <div class="card mb-3">
            <div class="card-header">
                <ul id="{{ data['namePet'] }}-info" class="nav nav-tabs card-header-tabs float-right" role="tablist">
                    <li class="nav-item">
                        <a href="#about" class="nav-link text-reset active" role="tab" aria-controls="about"
                            aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#details" class="nav-link text-reset" role="tab" aria-controls="details"
                            aria-selected="false">Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link text-reset" role="tab" aria-controls="contact"
                            aria-selected="false">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="row no-gutters">
                {% if images %}
                <div id="carouselPetImage" class="carousel slide col-md-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in images %}
                        <li data-target="#carouselPetImage" data-slide-to="{{ loop.index }}"
                            {% if loop.index == 1 %}class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner vertical-center">
                        {% for image in images %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <img src="{{ url_for('static', filename=image) }}" class="d-block w-100" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselPetImage" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselPetImage" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% else %}
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/750" class="card-img" alt="">
                </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title display-4">{{ data['namePet'] | upper }}</h1>
                        <div class="tab-content mt-3">
                            <div class="tab-pane active" id="about" role="tabpanel">
                                <p class="card-text lead">{{ data['about'] }}</p>
                            </div>
                            <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">
                                <p class="card-text lead">
                                    <span class="font-weight-bold">Breed:</span> {{ data['breed'] }} <br>
                                    <span class="font-weight-bold">Age:</span> {{ data['age'] }} <br>
                                    <span class="font-weight-bold">HDB Approved:</span> {{ data['isHdbApproved'] }} <br>
                                    <span class="font-weight-bold">Neutered:</span> {{ data['isNeutered'] }} <br>
                                    <span class="font-weight-bold">Vaccinated:</span> {{ data['isVaccinated'] }} <br>
                                    <span class="font-weight-bold">Size:</span> {{ data['size'] }} <br>
                                    <span class="font-weight-bold">Colour:</span> {{ data['colour'] }} <br>
                                    <span class="font-weight-bold">Sickness:</span> {{ data['sickness'] }} <br>
                                </p>
                            </div>
                            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <p class="card-text lead">
                                    🧍 {{ data['nameOwner'] }} <br>
                                    📧 {{ data['email'] }} <br>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="card-footer text-muted text-center">
                <a href="">Is something wrong with this post? Inform us!</a>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $('#{{ data['namePet'] }}-info a').on('click', function (e) {
        e.preventDefault()
        console.log('asd')
        $(this).tab('show')
    })
</script>
{% endblock %}

{% block footer %}
<footer class="text-muted mt-3">
    <div class="container">
        <p>&copy; Findapet.today, your one stop pet finding site.</p>
    </div>
</footer>
{% endblock %}