{% extends 'layouts/main.html' %}

{% block title%}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post" action="" class="pt-5" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="name">Name</label>
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
            {% for error in form.name.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            {{ form.message(class="form-control") }}
            {% if form.message.errors %}
            {% for error in form.message.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-warning", value="Talk to us") }}
    </form>
</div>
{% endblock %}

{% block footer %}
<footer class="text-muted mt-3">
    <div class="container">
        <p>&copy; Findapet.today, your one stop pet finding site.</p>
    </div>
</footer>
{% endblock %}