{% extends 'layouts/main.html' %}

{% block title%}Home{% endblock %}

{% block content %}
<main role="main">
    <section class="jumbotron d-flex align-items-center min-vh-100 mb-0"
        style="background-image: url('static/img/cover.jpg'); background-position: center; background-size: cover; border-radius: 0px;">
        <div class="container text-center">
            <h1 class="text-white display-3">Find A Pet Today</h1>
            <p class="lead text-white" style="font-size: 1.5em;">Your one stop pet finding site</p>
            <a href="#featured_adopt" style="position: absolute; bottom: 2em;">
                <img src="{{ url_for('static', filename='icon/double-chevron-down.svg') }}" alt="" width="25px">
            </a>
            <!-- TODO: ADD CREDITS FOR COVER: ALVIN NEE @alvannee -->
        </div>
    </section>

    <!-- Staggered view -->
    <div class="container py-5" id="featured_adopt">
        <div class="card-columns">
            {% for pet in data %}
            <div class="card border-warning">
                <img {% if pet['image'] is not defined %} {% if pet['imagePet'] %} src="{{ url_for('static', filename=pet.imagePet) }}" {% else %} src="https://via.placeholder.com/750" {% endif %} {% else %} src="{{ pet['image'] }}" {% endif %} alt="{{ pet['name'] }}" class="card-img-top">
                <div class="card-body">
                    {% if pet['imagePet'] == None or pet['imagePet'] %}
                    <span class="badge badge-pill badge-warning px-2 py-1">NEW</span>
                    {% endif %}
                    <h5 class="card-title">{{ pet['namePet'] }}</h5>
                    <p class="card-text">Gender: {{ pet['gender'] }} <br>Age: {{ pet['age'] }} <br>Breed: {{ pet['breed'] }} {% if pet['typePet'] == "dog" %} {% if pet['isHdbApproved'] == True %} <br>HDB Approved: Yes {% else %} <br>HDB Approved: No {% endif %} {% endif %}
                    </p>
                    <a target="_blank" href="{% if pet['url'] is not defined %}{{ url_for('adopt_detail', pk=pet['id']) }}{% else %}{{ pet['url'] }}{% endif %}" class="card-link">Learn more</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href={{ url_for('adopt', page=1) }} class="btn btn-warning float-right">View more</a>
    </div>
</main>
{% endblock %}

{% block footer %}
<footer class="text-muted mt-3">
    <div class="container">
        <p>&copy; Findapet.today, your one stop pet finding site.</p>
    </div>
</footer>
{% endblock %}