<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title> {% block title %}{% endblock %} | Find A Pet Today </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon/apple-icon-180x180.png') }}" sizes="180x180">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='icon/manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ url_for('static', filename='icon/browserconfig.xml') }}">
    <meta name="theme-color" content="#C17B40">

    <style>
        #adoptDropdownMenu, #uploadDropdownMenu {
            background-color: #EDAE49;
        }
        #adoptDropdownMenu a.dropdown-item:hover, #uploadDropdownMenu a.dropdown-item:hover {
            background-color: #F2C67F !important;
        }
    </style>

    {% block css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #EDAE49;">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="120px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNavbar"
            aria-controls="collapsableNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsableNavbar">
            <ul class="navbar-nav ml-auto">
                <li {% if request.path == url_for('adopt', page=current_page) or request.path == url_for('adopt_cats', page=current_page) or request.path == url_for('adopt_dogs', page=current_page) %}class="nav-item dropdown active" {% else %}class="nav-item dropdown" {% endif %}>
                    <a class="nav-link dropdown-toggle" href="{{ url_for('adopt', page=1) }}" id="adoptDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Adopt
                    </a>
                    <div class="dropdown-menu" id="adoptDropdownMenu" aria-labelledby="adoptDropdownMenuLink">
                        <a href="{{ url_for('adopt', page=1) }}" class="dropdown-item">All</a>
                        <a class="dropdown-item" href="{{ url_for('adopt_cats', page=1) }}">Cats</a>
                        <a class="dropdown-item" href="{{ url_for('adopt_dogs', page=1) }}">Dogs</a>
                    </div>
                </li>
                <li {% if request.path == url_for('adopt_upload') %}class="nav-item dropdown active" {% else %}class="nav-item dropdown" {% endif %}>
                    <a class="nav-link dropdown-toggle" href="{{ url_for('adopt_upload', page=1) }}" id="uploadDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Upload
                    </a>
                    <div class="dropdown-menu" id="uploadDropdownMenu" aria-labelledby="uploadDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('adopt_upload') }}">Adoption</a>
                    </div>
                </li>
                <li {% if request.path == url_for('contact') %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li><li {% if request.path == url_for('about') %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success mt-5 px-3 py-3" role="alert" style="margin-bottom: 0;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    {% block js %}
    {% endblock %}
</body>

</html>